.loader-background{
  position: fixed;
  z-index: 9999999;
  background-image: url('./pics/Twinkle\ Star-0.7s-1359px\ \(1\).svg');
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.loader{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader::after, .loader::before{
  content: '';

}